<header>
    <div class="logotype">
        <img src="images/logotype.png" alt="Логотип сайта" title="Логотип сайта">
    </div>
    <div class="contacts">
        <ul>
            <li>
                8(800)000-00-00
            </li>
            <li>
                8(863)52-0-00-00
            </li>
        </ul>
    </div>
    <div class="login">
        <ul>
            <li>
                <a href="#">Войти</a>
            </li>
            <li>
                <a href="#">Регистрация</a>
            </li>
        </ul>
    </div>
</header>


