<nav>
    <ul>
        <li>
            <a href="#">Главная</a>
        </li>
        <li>
            <a href="#">О нас</a>
        </li>
        <li>
            <a href="#">Доставка</a>
        </li>
        <li>
            <a href="#">Гарантия</a>
        </li>
        <li>
            <a href="#">Контакты</a>
        </li>
    </ul>
</nav>