<nav>
    <ul>
        <li>
            <a href="#">Ноутбуки и планшеты</a>
            <ul class="submenu submenu_notebook">
                <li>
                    <a href="#">Ноутбуки</a>
                </li>
                <li>
                    <a href="#">Планшеты</a>
                </li>
                <li>
                    <a href="#">Аксессуары для ноутбуков</a>
                </li>
                <li>
                    <a href="#">Аксессуары для планшетов</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Компьютеры и периферия</a>
        </li>
        <li>
            <a href="#">Телефоны и смарт-часы</a>
            <ul class="submenu submenu_phone">
                <li>
                    <a href="#">Смартфоны</a>
                </li>
                <li>
                    <a href="#">Сотовые телефоны</a>
                </li>
                <li>
                    <a href="#">Радиотелефоны</a>
                </li>
                <li>
                    <a href="#">Умные часы</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Телевизоры и медиа</a>
        </li>
        <li>
            <a href="#">Игры и приставки</a>
        </li>
        <li>
            <a href="#">Аудиотехника</a>
        </li>
        <li>
            <a href="#">Фото аппаратура</a>
        </li>
    </ul>
</nav>