body{
    margin: 0;
    padding: 0;
    font: 16px/24px Arial, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}

/*Шапка сайта*/

header{
    height: 100px;
}


/*Логотип и контакты*/

.logotype{
    float: left;
    height: 100px;
    box-sizing: border-box;
}

header img{
    height: 100px;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


div.contacts{
    height: 100px;
    box-sizing: border-box;
    line-height: 100px;
    float: left;
}

.contacts li{
    color: #303030;
    margin: 0 20px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}


.login{
    height: 100px;
    line-height: 100px;
    box-sizing: border-box;
    float: right;
}

.login li{
    float: left;
    margin: 0 20px;
    font-size: 16px;
}


.login li a{
    color: #303030;
}

.login li a:hover{
    color: #00a2e8;
}

/*Меню*/

.menu{
    background: #00a2e8;
    border: none;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu ul li{
    display: inline-block;
}

.menu a{
    display: block;
    margin: 0px;
    padding: 20px;
    color: #fff;
}

.menu a:hover{
    background:#303030 ;
}

/*Меню продуктов*/

.menu_products{
    width: 240px;
    box-sizing: border-box;
    margin: 20px 20px 20px 0;
    float: left;
    border: 1px solid #00a2e8;
}

.menu_products ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_products a{
    display: block;
    margin: 0;
    padding: 20px;
    color: #303030;
    border-bottom: 1px solid #00a2e8;
}

.menu_products>li{
    position: relative;
}

.submenu{
    position: absolute;
    left: 383px;
    z-index: 10;
    background: #ffffff;
    border: 1px solid #00a2e8;
    border-left: 3px solid #00a2e8;
    display: none;
}

.menu_products .submenu_phone{
    top:314px;
}

.menu_products .submenu_notebook{
    top: 184px;
}

.menu_products li:hover .submenu{
    display: block;
}

.menu_products li:last-child a{
    border-bottom: none;
}

.menu_products a:hover{
    background:#303030 ;
    color: #fff;
}

/*Контент*/
.afisha{
    float: left;
    width: 740px;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
}

.afisha img{
    width: 740px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*Горящие товары и лидеры продаж*/


.hot_products h1,.leaders_of_sells h1{
    margin: 0 0 20px 0;
    font-weight: normal;
    color: #303030;
}

.block{
    float: right;
    width: 350px;
    box-sizing: border-box;
    margin: 0 20px 40px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.block:hover{
    transform: scale(1.1);
    transition: transform 0.7s;
}

.block:nth-of-type(odd){
    margin: 0 0 20px 20px;
}

.block .product{
    width: 350px;
    box-sizing: border-box;
    padding: 20px;
}
/*Оформление блока*/

.product img{
    width: 310px;
}

.product h4, .product h2{
    text-align: center;
    font-weight: normal;
    margin: 20px 0 10px;
}

.product span{
    display: block;
    text-align: center;
    text-decoration: line-through;
    margin: 0 0 10px;
}

.product h2{
    margin: 0px 0 20px;
}

.button_add_basket a{
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 10px;
    background: #00a2e8;
}

.button_add_basket a:hover{
    background: #303030;
}

/*Оформление лидеров продаж*/
.leaders_of_sells h1{
    clear: both;
    margin-left: 260px;
}


/*Структура сайта*/
div.mid{
    width: 1000px;
    margin: 0 auto;
}

/*Футер*/

.footer{
    margin: 0;
    padding: 20px;
    background: #303030;
    color: #ffffff;
}

.footer_nav{
    float: left;
    margin-right: 125px;
    width: 250px;
}

.footer_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav ul li{
    margin: 0 0 10px 0;
}

.footer_nav a{
    color: #ffffff;
}

.footer_nav a:hover{
    color: #00a2e8;
}

.footer_payment{
    float: left;
    width: 250px;
    margin-right: 125px;
}

.footer_contacts{
    float: right;
    width: 250px;
}

.footer_contacts ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer span{
    color: #ffffff;
}

.copy{
    clear: both;
    text-align: center;
    padding-top:20px;
    border-top: 1px solid #00a2e8;
}

